<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#000000" />

    <link rel="manifest" href="/Views/DICOMViewer/manifest.json" />
    <script type="text/javascript" src="/Views/DICOMViewer/config/default.js"></script>

    <title>OHIF Viewer</title>

    <!-- WEB FONTS -->
    <link href="/Content/RobotoFamily.css" rel="stylesheet" />

    <!-- EXTENSIONS -->
    <!-- <script type="text/javascript" src="path/to/some-extension.js"></script>

    <script>
      window.config.extensions = [SomeExtension];
    </script> -->
</head>

<body>
    <noscript> You need to enable JavaScript to run this app. </noscript>

    <div id="root"></div>
    <script type="text/javascript" src="/Views/DICOMViewer/bundle.bundle.ba76eaa89fef64566be7.js"></script>
</body>
</html>
