.header-brand {
    -webkit-text-decoration-color: none;
    text-decoration-color: none;
    display: flex;
    color: var(--text-primary-color);
    font-size: 14px;
    font-weight: var(--logo-font-weight);
    font-family: var(--logo-font-family)
}

    .header-band:visited,
    .header-brand:active,
    .header-brand:hover {
        color: var(--text-primary-color);
        text-decoration: none
    }

.header-logo-text {
    margin-left: 8px
}

.header-logo-image {
    height: 30px;
    font-size: 30px
}

.entry-header {
    padding: 10px 10px 0;
    height: var(--top-bar-height)
}

    .entry-header.header-big {
        background: rgba(21, 25, 30, .7);
        padding: 10px var(--study-list-padding);
        height: auto;
        display: inline-block;
        width: 100%
    }

.header-left-box {
    display: inline-block;
    position: relative
}

.header-viewerLink {
    float: left
}

.header-brand {
    height: 30px;
    text-decoration: none;
    float: left;
    clear: both
}

.entry-header.header-big .header-brand {
    height: auto;
    padding: 25px 0
}

.header-logo-image {
    fill: transparent;
    height: 100%;
    margin: 0 8px 0 0;
    width: 30px;
    float: left
}

.entry-header.header-big .header-logo-image {
    margin: 0 20px 0 0;
    width: 50px;
    height: 50px
}

.header-logo-text {
    display: inline-block;
    font-family: var(--logo-font-family);
    font-size: 14px;
    font-weight: var(--logo-font-weight);
    color: var(--text-primary-color);
    line-height: 30px
}

.entry-header.header-big .header-logo-text {
    font-size: 30px;
    line-height: 36px
}

.header-btn {
    color: var(--text-secondary-color);
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    line-height: 26px
}

    .header-btn:hover {
        color: var(--hover-color)
    }

    .header-btn:active {
        color: var(--active-color)
    }

.header-studyListLinkSection {
    border-left: var(--ui-border-thickness) solid var(--ui-border-color);
    margin: 3px 0 0 10px;
    padding: 0 0 0 10px;
    display: inline-block
}

.header-menu {
    color: var(--text-primary-color);
    float: right;
    padding: 4px 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    margin-right: 10px
}

.entry-header.header-big .header-menu {
    margin-right: 0
}

.header-menu .research-use {
    float: left;
    font-size: 13px;
    font-weight: 700;
    color: #91b9cd;
    margin-right: 1rem
}

.ToolbarRow {
    border-bottom: var(--ui-border-thickness) solid var(--ui-border-color);
    flex: 0 0 auto;
    height: var(--toolbar-height);
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    -webkit-transition: height .3s ease;
    transition: height .3s ease;
    width: 100%;
    display: flex;
    align-items: center
}

ToolbarRow.expanded {
    height: calc(var(--toolbar-height) + var(--toolbar-drawer-height))
}

.icon-rotate-120 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg)
}

.simpleDialog {
    position: fixed;
    border: 0;
    border-radius: 6px;
    background-color: #151a1f
}

    .simpleDialog .header {
        border-bottom: 3px solid #000;
        padding: 19px 22px 17px;
        position: relative
    }

        .simpleDialog .header .title {
            font-size: 20px;
            font-weight: 600;
            line-height: 24px;
            padding-right: 40px;
            color: #91b9cd;
            margin: 0
        }

        .simpleDialog .header .closeBtn {
            height: 20px;
            opacity: 1;
            overflow: hidden;
            padding: 2px;
            text-align: center;
            text-shadow: none;
            width: 20px;
            color: #91b9cd;
            cursor: pointer;
            position: absolute;
            right: 21px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: color .3s ease;
            transition: color .3s ease
        }

        .simpleDialog .header .closeIcon {
            color: transparent;
            display: block;
            font-size: 0;
            height: 100%;
            line-height: 0;
            overflow: hidden;
            position: relative;
            width: 100%
        }

            .simpleDialog .header .closeIcon:after,
            .simpleDialog .header .closeIcon:before {
                content: " ";
                display: block;
                height: 2px;
                -webkit-transition: background-color .3s ease;
                transition: background-color .3s ease;
                width: 19px;
                background-color: #91b9cd
            }

            .simpleDialog .header .closeIcon:before {
                left: 1px;
                position: absolute;
                top: 1px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                -webkit-transform-origin: 1px 50%;
                transform-origin: 1px 50%
            }

            .simpleDialog .header .closeIcon:after {
                right: 1px;
                position: absolute;
                top: 1px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                -webkit-transform-origin: calc(100% - 1px) 50%;
                transform-origin: calc(100% - 1px) 50%
            }

    .simpleDialog .content {
        padding: 16px 22px 25px;
        position: relative;
        color: #fff
    }

        .simpleDialog .content .simpleDialogInput,
        .simpleDialog .content .simpleDialogSelect {
            background-color: #fff;
            color: #000;
            border: 0;
            border-radius: 2px;
            font-size: 14px;
            height: 30px;
            width: 100%;
            line-height: 16px;
            padding: 8px 9px 6px;
            margin-top: 10px;
            display: block
        }

        .simpleDialog .content .simpleDialogInputLabel {
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            color: #fff
        }

    .simpleDialog .footer {
        padding: 15px;
        text-align: right
    }

        .simpleDialog .footer .btn {
            -webkit-transition: background-color .3s ease;
            transition: background-color .3s ease;
            color: #000;
            border: 0;
            border-radius: 4px;
            font-size: 15px;
            font-weight: 400;
            height: 37px;
            line-height: 37px;
            padding: 0 12px;
            margin-bottom: 0;
            margin-left: 5px
        }

        .simpleDialog .footer .btn-confirm {
            color: #fff;
            background-color: #337ab7
        }

.editDescriptionDialog {
    position: absolute;
    z-index: 300;
    width: 320px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.labelling-appear {
    opacity: 0
}

    .labelling-appear.labelling-appear-active {
        opacity: 1;
        -webkit-transition: opacity .5s linear;
        transition: opacity .5s linear
    }

.labelling-exit {
    opacity: 1
}

    .labelling-exit.labelling-exit-active {
        opacity: 0;
        -webkit-transition: opacity .5s linear;
        transition: opacity .5s linear
    }

.labelling-exit-done {
    opacity: 0
}

.labellingComponent {
    position: absolute;
    text-align: center;
    z-index: 300;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

    .labellingComponent .selectedDescription,
    .labellingComponent .selectedLabel {
        padding: 5px;
        background-color: #fff;
        width: 150px
    }

    .labellingComponent .addLabelButton {
        color: #000;
        background-color: #20a5d6;
        border: 2px solid #44626f;
        border-radius: 14px;
        font-weight: 700;
        font-size: 13px;
        line-height: 24px;
        opacity: 1;
        padding: 0 14px;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease;
        outline: none;
        cursor: pointer
    }

    .labellingComponent .commonButton {
        border: 1px solid #44626f;
        color: #fff;
        background-color: #000;
        border-radius: 16px;
        font-weight: 700;
        font-size: 13px;
        line-height: 26px;
        padding: 0 12px;
        margin: 10px 5px 0 0;
        outline: none;
        cursor: pointer
    }

    .labellingComponent .locationDescriptionWrapper {
        background-color: #fff;
        line-height: 46px;
        height: 46px;
        font-size: 13px;
        position: relative;
        width: 290px;
        min-width: 260px;
        padding: 0 12px;
        margin: 0 auto;
        display: inline-block
    }

        .labellingComponent .locationDescriptionWrapper .location {
            -webkit-transition: all .3s linear;
            transition: all .3s linear;
            position: absolute;
            white-space: nowrap;
            bottom: 0
        }

    .labellingComponent.editDescription .locationDescriptionWrapper .location {
        bottom: 38px
    }

    .labellingComponent .locationDescriptionWrapper #descriptionInput {
        -webkit-transition-delay: all .3s linear;
        transition-delay: all .3s linear;
        visibility: hidden;
        outline: none;
        height: 46px;
        width: 100%;
        line-height: 20px;
        font-size: 13px;
        border: none
    }

    .labellingComponent.editDescription .locationDescriptionWrapper #descriptionInput {
        visibility: visible
    }

    .labellingComponent.editDescription .location {
        color: #337ab7
    }

    .labellingComponent .commonButtons,
    .labellingComponent.editDescription .editDescriptionButtons {
        display: block;
        margin-left: 55px
    }

    .labellingComponent.editDescription .commonButtons,
    .labellingComponent .editDescriptionButtons {
        display: none
    }

    .labellingComponent .commonButtons {
        text-align: center;
        margin-left: 55px
    }

    .labellingComponent .commonButton.left {
        float: left
    }

    .labellingComponent .commonButton.right {
        float: right
    }

    .labellingComponent .checkIconWrapper {
        display: inline-block;
        background-color: #337ab7;
        border-radius: 46px;
        width: 46px;
        height: 46px;
        margin-right: 10px;
        vertical-align: bottom;
        cursor: pointer
    }

    .labellingComponent .checkIcon {
        width: 20px;
        height: 20px;
        margin: 13px;
        fill: #000
    }

#viewer {
    height: calc(100% - var(--top-bar-height))
}

    #viewer > .loadingTextDiv {
        color: var(--text-secondary-color);
        font-size: 30px;
        height: 100%;
        line-height: calc(100% - var(--top-bar-height))
    }

.ViewerMain {
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

    .ViewerMain,
    .ViewerMain > div {
        width: 100%;
        height: 100%
    }

.ToolContextMenu {
    position: absolute;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    z-index: 1000;
    display: block;
    width: 170px
}

    .ToolContextMenu > ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0
    }

        .ToolContextMenu > ul > li > button {
            padding: 10px;
            font-size: 14px;
            border: none;
            color: #516873;
            border-radius: 3px;
            outline: none;
            cursor: pointer;
            background: none
        }

            .ToolContextMenu > ul > li > button:hover {
                color: #16202b
            }

            .ToolContextMenu > ul > li > button:active {
                color: #79f9fe
            }

.FlexboxLayout {
    display: flex;
    flex: 1 1;
    flex-flow: row nowrap;
    align-items: stretch;
    height: calc(100% - var(--toolbar-height) - var(--top-bar-height));
    width: 100%;
    overflow: hidden
}

.sidepanel {
    flex: 1 1;
    height: 100%;
    -webkit-transition: var(--sidepanel-transition);
    transition: var(--sidepanel-transition)
}

.from-left {
    border-right: var(--ui-border-thickness) solid var(--ui-border-color);
    margin-left: calc(var(--left-sidepanel-menu-width)*-1);
    max-width: var(--left-sidepanel-menu-width)
}

.from-right {
    border-left: var(--ui-border-thickness) solid var(--ui-border-color);
    margin-right: calc(var(--right-sidepanel-menu-width)*-1);
    max-width: var(--right-sidepanel-menu-width)
}

.sidepanel.is-open {
    margin-right: 0;
    margin-left: 0
}

.main-content {
    flex: 1 1;
    height: 100%;
    overflow: hidden;
    -webkit-transition: var(--sidepanel-transition);
    transition: var(--sidepanel-transition);
    width: 100%
}

#viewer {
    background-color: #000;
    width: 100%
}

.loadingTextDiv {
    color: var(--text-secondary-color);
    font-size: 30px
}

.drag-drop-instructions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

    .drag-drop-instructions h3 {
        color: var(--active-color)
    }

    .drag-drop-instructions h4 {
        color: var(--text-secondary-color)
    }

.dicom-uploader .button {
    float: left;
    margin: 5px
}

.invisible-input {
    position: absolute;
    display: none;
    z-index: -1000;
    max-width: 0 !important;
    max-height: 0 !important
}

.dicom-uploader .table-header {
    color: #fff;
    font-size: 16px;
    font-weight: 28px;
    text-align: left;
    margin: 20px auto
}

.loading-icon-spin {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
}

.loading-icon {
    font-size: 30px;
    margin: 20px 0
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

.gcp-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse
}

    .gcp-table > tr {
        height: 20px
    }

    .gcp-table > thead {
        white-space: nowrap
    }

        .gcp-table > thead tr th {
            padding: 0;
            border-bottom: 1px solid var(--ui-border-color-active);
            width: 100%;
            text-align: left;
            border-top: 0
        }

    .gcp-table > tbody tr {
        padding: 5px;
        background-color: var(--ui-gray-darker)
    }

        .gcp-table > tbody tr:nth-child(2n) {
            background-color: var(--ui-gray-dark)
        }

        .gcp-table > tbody tr td {
            padding: 8px;
            height: $body-cell-height;
            line-height: $body-cell-height;
            color: var(--table-text-primary-color);
            font-weight: 300;
            border-top: 1px solid var(--ui-gray-lighter);
            border-bottom: 1px solid var(--ui-gray-lighter);
            white-space: nowrap
        }

            .gcp-table > tbody tr td.emptyCell {
                color: #516873
            }

            .gcp-table > tbody tr td.emptyValue {
                color: var(--ui-gray-light)
            }

        .gcp-table > tbody tr.active,
        .gcp-table > tbody tr:active,
        .gcp-table > tbody tr:hover {
            background-color: var(--table-hover-color);
            color: var(--text-primary-color)
        }

            .gcp-table > tbody tr.active td,
            .gcp-table > tbody tr:active td,
            .gcp-table > tbody tr:hover td {
                border-top: 1px solid var(--ui-gray-lighter);
                border-bottom: 1px solid var(--ui-gray-lighter);
                background-color: var(--table-hover-color)
            }

.gcp-files-selector {
    display: flex;
    justify-content: space-between
}

.gcp-files-selector__btn-dir,
.gcp-files-selector__btn-file {
    height: 80px !important;
    width: 228px !important;
    font-size: 14px;
    border-radius: 8px;
    margin: 0 !important
}

.gcp-files-selector__btn-dir {
    background-image: url(/assets/Button_Folder.svg)
}

.gcp-files-selector__btn-file {
    background-image: url(/assets/Button_File.svg)
}

.gcp-window {
    background-color: #000
}

.gcp-hidden {
    display: none
}

.gcp-picker {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    width: 650px;
    height: 600px;
    background-color: #161a1f;
    padding: 20px 30px;
    position: relative
}

.gcp-dicom-picker__exit {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 14px !important;
    height: 14px !important;
    -webkit-filter: opacity(.5);
    filter: opacity(.5)
}

    .gcp-dicom-picker__exit:hover {
        -webkit-filter: opacity(1);
        filter: opacity(1)
    }

.gcp-picker--btn {
    margin: auto
}

.gcp-picker--title {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin: 20px auto
}

.gcp-picker--path {
    color: #fff;
    font-size: 16px;
    font-weight: 28px;
    text-align: left;
    margin: 20px auto
}

.not-found {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff
}

#root,
body,
html {
    background-color: #000;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto, OpenSans, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif
}

body {
    font-size: 14px;
    line-height: 1.42857143
}

#root .fade-enter {
    opacity: 0
}

#root .fade-enter-active {
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

#root .fade-exit {
    opacity: 1
}

#root .fade-exit-active {
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

:root {
    --top-bar-height: 40px;
    --top-bar-expanded-height: 160px;
    --toolbar-height: 78px;
    --toolbar-drawer-height: 62px;
    --left-sidepanel-menu-width: 307px;
    --right-sidepanel-menu-width: 323px;
    --study-list-padding: 8%;
    --study-list-padding-medium-screen: 10px;
    --logo-font-family: "Sanchez";
    --logo-font-weight: 300;
    --transition-duration: 0.3s;
    --transition-effect: ease;
    --sidepanel-transition: all 0.3s ease;
    --viewport-border-thickness: 1px;
    --ui-border-thickness: 1px;
    --default-color: #9ccef9;
    --hover-color: #fff;
    --active-color: #20a5d6;
    --ui-border-color: #44626f;
    --ui-border-color-dark: #3c5d80;
    --ui-border-color-active: #00a4d9;
    --primary-background-color: #000;
    --box-background-color: #3e5975;
    --ui-yellow: #e29e4a;
    --ui-sky-blue: #6fbde2;
    --ui-state-error: #fcc;
    --ui-state-error-border: #933;
    --ui-state-error-text: #611;
    --ui-gray-light: #516873;
    --ui-gray: #263340;
    --ui-gray-dark: #16202b;
    --ui-gray-darker: #151a1f;
    --ui-gray-darkest: #14202a;
    --text-color-active: #000;
    --text-primary-color: #fff;
    --text-secondary-color: #91b9cd;
    --text-disabled-color: #878787;
    --input-background-color: #2c363f;
    --input-placeholder-color: #d3d3d3;
    --table-hover-color: #2c363f;
    --table-text-primary-color: #fff;
    --table-text-secondary-color: #91b9cd;
    --large-numbers-color: #6fbde2;
    --state-error: #fcc;
    --state-error-border: #fcc;
    --state-error-text: #fcc
}


/*# sourceMappingURL=main.1d7a3ea5.chunk.css.map */
